node_modules
/build
package-lock.json
CMakeFiles
CMakeCache.txt
.DS_Store
.idea
.exokit_history
.localStorage
.node-gyp
/app
android/.gradle
android/app/.externalNativeBuild
android/app/assets/
android/app/build/
android/app/src/main/arm64-v8a/
android/build/
*.sw[pomnlk]
