html{
  overflow: hidden;
  height: 100%;
  min-height: 600px;
  min-width: 1000px;
}
body{
  height: 100%;
  width: 100%;
  background: rgb(32,32,32);
  background: radial-gradient(circle, rgba(32,32,32,1) 0%, rgba(0,0,0,1) 99%);
  color: #d1d1d1;
}

.carousel{
  max-height: 200px;
  max-width: 100%
}
.d-block{
  height: 200px;
  width: auto;
}
.btn {
  background-color: #00b490;
  color: black;
  font-weight: 600;
}

.btnSecondary{
  background-color: #F97085;
  color: black;
  font-weight: 600;
}
.btnThird{
  background-color: #00938F;
  color: black;
  font-weight: 600;
}
.bg-info {
  background-color: #00b490!important;
}
.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#00b490' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#00b490' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}
.carousel-inner h5, p{
    color: white;
}

.carousel-indicators .active{
  background-color: #00b490;
}
h3, h5{
  font-family: 'K2D', sans-serif;
}
.form-control{
  min-width: 320px;
}
.fab{
  color: white;
}
.updateDivs{
    padding-left: 50px;
    padding-bottom: 20px;
}