#Update #changelog{
    max-height: 400px;
    overflow-y: auto;
    background-color: #ffffff0f;
    color: white;
    border-radius: 5px;
  }
  #Update h1{
    color: white;
  }
  #Update p{
    color: white;
  }