
body {
  margin: 0;
  background: #232526;  /* fallback for old browsers */
}
.nav-pills .nav-link.active{
  background-color: #B600DB;
}
.nav-pills .nav-link{
  color: white;
}
#logo{
  position: absolute;
  top: 0;
  right: 0;
  height: 45px;
  margin: 10px;
}
.row{
  margin-left: 0;
  margin-right: 0;
}
.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
