
body {
  margin: 0;
  background: #232526;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.nav-pills .nav-link.active{
  background-color: #B600DB;
}
.nav-pills .nav-link{
  color: white;
}
#logo{
  position: absolute;
  top: 0;
  right: 0;
  height: 45px;
  margin: 10px;
}
.row{
  margin-left: 0;
  margin-right: 0;
}
.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
}