.Dom {
  display: flex;
  flex: 1;
  flex-direction: column;
}

/* dom list */

.Dom > .dom-list {
  display: flex;
  flex: 1;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
}

.Dom > .dom-list .dom-item {
  font-family: monospace;
  font-size: 11px;
  cursor: pointer;
  user-select: none;
}
.Dom > .dom-list .dom-item.dropdownOpen > .dom-item-label .dom-item-arrow {
  color: #888;
  padding-top: 5px;
  padding-bottom: 5px;
}
.Dom > .dom-list .dom-item.open > .dom-item-children {
  display: flex;
}

.Dom > .dom-list .dom-item > .dom-item-label {
  display: flex;
}
.Dom > .dom-list .dom-item.hover > .dom-item-label,
.Dom > .dom-list .dom-item.hover > .dom-item-text
{
  background-color: #333;
}
.Dom > .dom-list .dom-item.select > .dom-item-label,
.Dom > .dom-list .dom-item.select > .dom-item-text
{
  background-color: #42a5f5;
}

.Dom > .dom-list .dom-item.hover > .dom-item-label .dom-item-arrow {
  color: #888;
}
.Dom > .dom-list .dom-item > .dom-item-label .dom-item-arrow {
  color: #333;
  transform: rotatez(90deg);
  padding-top: 5px;
  padding-bottom: 5px;
}

.Dom > .dom-list .dom-item > .dom-item-label .dom-item-name {
  padding-top: 5px;
  padding-left: 3px;
  white-space: nowrap;
}

.Dom > .dom-list .dom-item > .dom-item-children {
  display: none;
  flex-direction: column;
}

.Dom > .dom-list .dom-item > .dom-item-text {
  color: #666;
  white-space: pre;
}

/* dom detail */

.dom-detail {
  display: flex;
  flex-direction: column;
  height: 40px;
  width: 55px;
  background-color: #333;
  overflow-y: auto;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}
.Dom > .dom-detail > .dom-detail-name {
  font-family: monospace;
}
.Dom > .dom-detail > .dom-detail-button {
  font-family: monospace;
  text-align: center;
}
.Dom > .dom-detail > .dom-attribute {
  display: flex;
}
.Dom > .dom-detail > .dom-attribute > .dom-attribute-name {
  width: 100px;
  font-family: monospace;
}
.Dom > .dom-detail > .dom-attribute > .dom-attribute-value {
  flex: 1;
  font-family: monospace;
}
