#Engine {
  display: flex;
  flex-direction: column;
  flex: 1;
  color: white;
}

#Engine .menu {
  background-color: #333;
}
#Engine .menu .menu-item {
  display: flex;
  position: relative;
  height: 22px;
  padding: 2px 10px;
  font-size: 11px;
  align-items: center;
  cursor: pointer;
  user-select: none;
}
#Engine .menu .menu-item:hover {
  background-color: #444;
}
#Engine .menu .menu-item.open {
  background-color: #666;
}

#Engine .menu .menu-item .menu-item-popup {
  display: none;
  position: absolute;
  top: 22px;
  left: 0;
  background-color: #333;
  flex-direction: column;
}
#Engine .menu .menu-item .menu-item-popup.open {
  display: flex;
}
#Engine .menu .menu-item .menu-item-popup .menu-item-popup-item {
  /* display: flex;
  align-items: center; */
  min-width: 200px;
  padding: 10px 20px;
  cursor: pointer;
}
#Engine .menu .menu-item .menu-item-popup .menu-item-popup-item:hover {
  background-color: #444;
}
#Engine .menu .menu-item .menu-item-popup .menu-item-popup-item > i {
  font-size: 20px;
}
#Engine .menu .menu-item .menu-item-popup .menu-item-popup-tabs {
  display: flex;
}
#Engine .menu .menu-item .menu-item-popup .menu-item-popup-tabs .menu-item-popup-tab {
  flex: 1;
  padding: 10px;
  border-bottom: 2px solid #222;
}
#Engine .menu .menu-item .menu-item-popup .menu-item-popup-tabs .menu-item-popup-tab.selected {
  background-color: #444;
  border-bottom-color: #9ccc65;
}
#Engine .menu .menu-item .menu-item-popup .menu-item-popup-items {
  display: none;
  flex-direction: column;
  max-height: 200px;
  overflow-y: auto;
}
#Engine .menu .menu-item .menu-item-popup .menu-item-popup-items.open {
  display: flex;
}

#Engine .menu .menu-item > i {
  font-size: 14px;
}
#Engine .menu .url {
  display: flex;
  position: relative;
}
#Engine .menu .url-input {
  display: flex;
  width: 300px;
  padding-left: 10px;
  background-color: #444;
  border: 0;
  border-left: 3px solid #222;
  font-family: monospace;
  color: #FFF;
  outline: none;
}
#Engine .menu .url-input:focus {
  background-color: #FFF;
  color: #111;
}
#Engine .menu .url-popup {
  display: none;
  position: absolute;
  top: 22px;
  left: 0;
  flex-direction: column;
  width: 300px;
}
#Engine .menu .url-popup.open {
  display: flex;
}
#Engine .menu .url-item {
  display: flex;
  height: 30px;
  padding: 0 10px;
  background-color: #333;
  font-family: monospace;
  font-size: 13px;
  align-items: center;
  cursor: pointer;
  user-select: none;
}
#Engine .menu .url-item:hover {
  background-color: #444;
}
#Engine .menu .buttons {
  display: flex;
  margin-left: auto;
}
#Engine .menu .button {
  display: flex;
  align-items: center;
  padding: 0 10px;
  background-color: #333;
  font-size: 13px;
  cursor: pointer;
  user-select: none;
}
#Engine .menu .button:hover {
  background-color: #444;
}
#Engine .menu .button > i {
  padding-right: 7px;
}
#Engine .menu .button > .label {
  font-family: monospace;
}

#Engine .settings {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: center;
  align-items: center;
}
#Engine .settings.open {
  display: flex;
}
#Engine .settings > .settings-background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
#Engine .settings > .settings-foreground {
  position: relative;
  width: 500px;
  padding: 30px;
  background-color: #FFF;
  border-radius: 5px;
  color: #333;
  z-index: 1;
}
#Engine .settings > .settings-foreground > .title {
  margin-bottom: 20px;
  font-size: 30px;
}
#Engine .settings > .settings-foreground > label {
  display: flex;
  align-items: center;
  user-select: none;
}
#Engine .settings > .settings-foreground > label > input[type="radio"] {
  margin-right: 5px;
}

#Engine .engine-split {
  display: flex;
  flex: 1;
  overflow: hidden;
}
#Engine .engine-left {
  display: flex;
  flex-direction: column;
  flex: 1;
}
#Engine .engine-right {
  display: flex;
  width: 100%;
  border-left: 2px solid #111;
}
#Engine .engine-render {
  flex: 1;
  background-color: #000;
  padding: 30px;
}
