#Engine {
  display: flex;
  flex-direction: column;
  flex: 1;
  color: white;
}
#Engine .menu {
  background-color: #333;
}
#Engine .menu .menu-item {
  display: flex;
  position: relative;
  height: 22px;
  padding: 2px 10px;
  font-size: 11px;
  align-items: center;
  cursor: pointer;
  user-select: none;
}
#Engine .menu .menu-item:hover {
  background-color: #444;
}
#Engine .menu .menu-item.open {
  background-color: #666;
}
#Engine .menu .menu-item .menu-item-popup {
  display: none;
  position: absolute;
  top: 22px;
  left: 0;
  flex-direction: column;
}
#Engine .menu .menu-item .menu-item-popup.open {
  display: flex;
}
#Engine .menu .menu-item .menu-item-popup .menu-item-popup-item {
  min-width: 200px;
  padding: 10px 20px;
  background-color: #333;
  cursor: pointer;
}
#Engine .menu .menu-item .menu-item-popup .menu-item-popup-item:hover {
  background-color: #444;
}
#Engine .menu .url {
  display: flex;
  position: relative;
}
#Engine .menu .url-input {
  display: flex;
  min-width: 300px;
  padding-left: 10px;
  background-color: #444;
  border: 0;
  border-left: 3px solid #222;
  font-family: monospace;
  color: #FFF;
  outline: none;
}
#Engine .menu .url-input:focus {
  background-color: #FFF;
  color: #111;
}
#Engine .menu .url-popup {
  display: none;
  position: absolute;
  top: 22px;
  left: 0;
  flex-direction: column;
  width: 300px;
}
#Engine .menu .url-popup.open {
  display: flex;
}
#Engine .menu .url-item {
  display: flex;
  height: 30px;
  padding: 0 10px;
  background-color: #333;
  font-family: monospace;
  font-size: 13px;
  align-items: center;
  cursor: pointer;
  user-select: none;
}
#Engine .menu .url-item:hover {
  background-color: #444;
}
#Engine .engine-split {
  display: flex;
  flex: 1;
}
#Engine .engine-left {
  display: flex;
  flex-direction: column;
  flex: 5;
}
#Engine .engine-right {
  flex: 1;
  background-color: #222;
  border-left: 2px solid #111;
}
#Engine .engine-right ul {
  display: block;
  list-style: none;
  margin: 0;
  padding: 5px 0;
}
#Engine .engine-right ul li {
  min-width: 200px;
  padding: 0 10px;
  font-family: monospace;
  font-size: 11px;
  cursor: pointer;
}
#Engine .engine-right ul li:hover {
  background-color: #333;
}
#Engine .engine-render {
  flex: 1;
  background-color: #000;
}
#Engine .engine-shell {
  min-height: 100px;
  padding: 5px;
  background-color: #333;
  border-top: 2px solid #222;
  font-family: monospace;
  font-size: 11px;
  white-space: pre-wrap;
}